
{{#partial "content"}}

    <h1>Your List of Items!</h1>


    {{#if itemList}}

        {{#each itemList}}
            <ul>

                <li>Item 1: {{ item1 }} </li>
                <li>Item 2: {{ item2 }} </li>
                <li>Item 3: {{ item3 }} </li>
                <li>Item 4: {{ item4 }} </li>
                <p>{{ raccoon }} <a href="/posts/{{id}}">read more...</a></p>
            </ul>
        {{/each}}
    {{else}}
        <p>No Items added!</p>
    {{/if}}



{{/partial}}

{{> layout.hbs}}